<?php
if(ISINCLUDED != '1')
	die('ACCESS DENIED!');

/* Config, please read very carefully. */
$CONFIG = array();


// First off, what database system do you want to use? Flatfile or MySQL.
// Uncomment or comment the required database type!
$CONFIG['db_type'] = "flatfile";
# $CONFIG['db_type'] = "mysql";

// Now, if you chose MySQL, alter these settings to match your Database
$CONFIG['mysql_connection_config'] = array(

	'db_host'	=> 	'localhost'	/* This is often localhost */,
	'db_uname'	=>	'root'		/* DB Username */,
	'db_pass'	=>	'password'	/* DB Password */,
	'db_name'	=>	'pastebin'	/* Nane of the Database */,
	'db_table'	=>	'paste'		/* Name for the table */,
	'db_existing'	=>	FALSE		/* Reconnect to an existing table? (TRUE or FALSE) */
);

// If you chose a flatfile connection, please alter these settings!
$CONFIG['txt_config'] = array(
	'db_folder'	=>	'data'		/* Name of the folder to store Data */,
	'db_index'	=>	'INDEX'		/* Name of the index file */,
	'db_images'	=>	'images'	/* Name of the Image folder (stored in Data) */
);


// Maximum depth of folder structure
// Example, 2 would be "./data/a/b" for the paste id "abcde"
// 3 would be "./data/a/b/c" for the paste id "abcde". Leave if you are unsure!
// Note this will always default to be AT LEAST 1.
// NEVER CHANGE THIS ONCE INSTALLED!!!
$CONFIG['max_folder_depth'] = 1;

// Excellent, we should be connected to a database system now. So what now?
// Let us define the name of our pastebin (the title)

// Pastebin Name (title), FALSE value uses the default "Pastebin on " . $_SERVER['SERVER_NAME']
$CONFIG['pb_name'] = FALSE;
# $CONFIG['pb_name'] = "My Pastebin!";

// Pastebin's Tagline (Message under the name/title), FALSE leaves this blank
$CONFIG['pb_tagline'] = FALSE;

// Hashing algorithm, (Default: MD5)
// For a full list, consult the function hash_algos();
$CONFIG['pb_algo'] = "md5";
# $CONFIG['pb_algo'] = "sha256";

// Pastebin Admin Password, strong one is mucho recommended!
// Should be hashed using the algorithm chosen above
// Example:
//   echo '<?php echo hash("md5", "password") . "\n";' | php
// Then insert the output into the variable below
# $CONFIG['pb_pass'] = "5f4dcc3b5aa765d61d8327deb882cf99";
// If a plaintext password is acceptable then use the following
$CONFIG['pb_pass'] = hash($CONFIG['pb_algo'], "password");

// Pastebin Salts, 4 sequences of random letters and numbers!
// Please make them at least 6 characters or more!
$CONFIG['pb_salts'] = array(	1 => "str001",
				2 => "str002",
				3 => "str003",
				4 => "str004");

// Apache/IIS Rewrite enabled? Needs to be like 
// http://yourdomain.com/id forwards to http://yourdomain.com/index.php?i=id or
// http://yourdomain.com/dir/id forwards to http://yourdomain.com/dir/index.php?i=id
// TRUE or FALSE
$CONFIG['pb_rewrite'] = FALSE;
# $CONFIG['pb_rewrite'] = TRUE;

// Subdomain support? This will let people have their
// own subdomains for their pastebin.
// Wildcard Domains and DNS must be enabled else this will fail!
// TRUE or FALSE
$CONFIG['pb_subdomains'] = FALSE;
# $CONFIG['pb_subdomains'] = TRUE;

// Enable GZip compression
// WARNING: Requires more CPU
$CONFIG['pb_gzip'] = FALSE;
# $CONFIG['pb_gzip'] = TRUE;

// Enable API?
// Allows the use of an API so external programs can create pastes using the POST method.
// You need to point external programs to http://yourdomain.com/index.php?api or
// http://yourdomain.com/api (if you have rewrite enabled).
$CONFIG['pb_api'] = FALSE;
# $CONFIG['pb_api'] = TRUE;

// Starting ID length, when IDs have run out the script will automatically increment this
// Number. Default is 1;
$CONFIG['pb_id_length'] = 1;
# $CONFIG['pb_id_length'] = 5;

// Server side API Adaptor?
// This allows Javascript frameworks like jQuery to perform cross-domain AJAX.
// Example code: http://knoxious.co.uk/Sharpshooter
$CONFIG['pb_api_adaptor'] = FALSE;
# $CONFIG['pb_api_adaptor'] = "/path/to/adaptor.php";

// Use alternate Pastebin stylesheet, FALSE uses default
// Note that URLs are accepted!
$CONFIG['pb_style'] = FALSE;
# $CONFIG['pb_style'] = "/path/to/sheet.css";

// Use Syntax Highlighting
// This requires GeSHI
// http://qbnz.com/highlighter/index.php
$CONFIG['pb_syntax'] = FALSE;
# $CONFIG['pb_syntax'] = "/path/to/geshi.php";

// Enable Line Highlighting
// Looks for a 2-6 character long highlight string, FALSE for Disabled.
$CONFIG['pb_line_highlight'] = FALSE;
# $CONFIG['pb_line_highlight'] = "@@";
# $CONFIG['pb_line_highlight'] = "!!";

// Add a custom line highlight style?
// Lets you change the color of how a line is highlighted
$CONFIG['pb_line_highlight_style'] = FALSE;
# $CONFIG['pb_line_highlight_style'] = 'background-color: #FFFFAA; font-weight: bolder; color: #000000;';

// Path to jQuery (if you want to use it)
// jQuery adds tiger-stripes, effects, AJAX and resize textbox
// Note that URLs are accepted!
$CONFIG['pb_jQuery'] = FALSE;
# $CONFIG['pb_jQuery'] = "/path/to/jQuery.js";

// Path to _clipboard.swf (allows copying)
// http://knoxious.co.uk/Knoxious+Pastebin/index.html#_clipboard
// Note that swfobject.js is also required in the same Directory
$CONFIG['pb_clipboard'] = FALSE;
# $CONFIG['pb_clipboard'] = "/path/to/_clipboard.swf";

// Date Format (see PHP.net's entry on date();)
$CONFIG['pb_datetime'] = "Y-m-d H:i:s";

// Auto cleanup of posts that have expired?
$CONFIG['pb_autoclean'] = FALSE;

// Number of Recent posts to display, FALSE for none!
// This number also controls the Autoclean.
$CONFIG['pb_recent_posts'] = 10;
# $CONFIG['pb_recent_posts'] = FALSE;

// Allow editing of pastes? (TRUE or FALSE)
$CONFIG['pb_editing'] = FALSE;
# $CONFIG['pb_editing'] = TRUE;

// Maximum paste size in Bytes
// recommend 512Kb to be the Maximum however 1Mb is do-able.
$CONFIG['pb_max_bytes'] = 524288;

// Put a warning on User posted videos and images (TRUE or FALSE)
// This is default on outgoing links!!!
$CONFIG['pb_media_warn'] = FALSE;

// Allow Image hosting? (TRUE or FALSE)
$CONFIG['pb_images'] = FALSE;

// Allow Image download from URL? Requires Image Hosting to be enabled! (TRUE or FALSE)
$CONFIG['pb_download_images'] = FALSE;

// Allowed Extensions for images
$CONFIG['pb_image_extensions'] = array("jpg", "gif", "png");

// Maximum size of Images in bytes, FALSE for None.
$CONFIG['pb_image_maxsize'] = 2097152; 
# (2Mb, you will need to change your php.ini to accomodate higher!)

// Enable Video embedding? (TRUE or FALSE)
$CONFIG['pb_video'] = FALSE;

// Enable FlowPlayer for playing .flv files? (Path or FALSE) Can be a URL.
// http://flowplayer.org
$CONFIG['pb_flowplayer'] = FALSE;
# $CONFIG['pb_flowplayer'] = "/path/to/flowplayer.swf";

// Embedded Video Size (in Pixels)
$CONFIG['pb_video_size'] = array('width' => 600, 'height' => 338);

// Allow URL Shortening/Redirection Service? (TRUE or FALSE)
$CONFIG['pb_url'] = FALSE;

// Default Author Name (Anonymous usually a good start)
$CONFIG['pb_author'] = "Anonymous";

// Store a cookie for the authors name? (FALSE or time in seconds)
// eg. 3600 == 1 hour, 86400 == 1 day
$CONFIG['pb_author_cookie'] = FALSE;
# $CONFIG['pb_author_cookie'] = 3600;

// Paste Lifespan (age in days), array for multiple, FALSE for no expiry.
// commented out is 1 week, 10 minutes, 1 hour, 1 day, 1 month and 1 year.
// (Also no expiry) - Initial value is DEFAULT.
$CONFIG['pb_lifespan'] = FALSE;
# $CONFIG['pb_lifespan'] = array(7, 1/24/6, 1/24, 1, 30, 365);
# $CONFIG['pb_lifespan'] = array(7);

// Enables no expiry, if you set $CONFIG['pb_lifespan'] to FALSE
// you do not need to bother with this. (TRUE or FALSE)
$CONFIG['pb_infinity'] = FALSE;
# $CONFIG['pb_infinity'] = TRUE;

// Make Infinity default? (TRUE or FALSE) This makes sure the post doesn't expire
// by default. Requires $CONFIG['pb_infinity'] = TRUE;
$CONFIG['pb_infinity_default'] = FALSE;
# $CONFIG['pb_infinity_default'] = TRUE;


// Enables Private Posting (TRUE or FALSE)
$CONFIG['pb_private'] = FALSE;
# $CONFIG['pb_private'] = TRUE;

// Error reporting? Time Limit? Memory Usage? Why not!
@error_reporting(E_ALL ^ E_NOTICE);
@set_time_limit(180);
@ini_set('memory_limit', '128M');

/* END Config, Nothing more to edit! */

?>
